<div class="page-header">
  <h1>Owner #<%= @owner.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Child</dt>
  <dd><%= @owner.child_id %></dd>

  <dt>User</dt>
  <dd><%= @owner.user_id %></dd>

</dl>
