<div class="page-header">
  <h1>Own Permission #<%= @own_permission.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Child</dt>
  <dd><%= @own_permission.child_id %></dd>

  <dt>User</dt>
  <dd><%= @own_permission.user_id %></dd>

</dl>
