<div class="page-header">
  <h1>Child #<%= @child.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @child.name %></dd>

  <dt>Dob</dt>
  <dd><%= @child.dob %></dd>

  <dt>Sex</dt>
  <dd><%= @child.sex %></dd>

</dl>
