<div class="page-header">
  <h1>Editor #<%= @editor.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Child</dt>
  <dd><%= @editor.child_id %></dd>

  <dt>User</dt>
  <dd><%= @editor.user_id %></dd>

</dl>
