<div class="page-header">
  <h1>View Permission #<%= @view_permission.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Child</dt>
  <dd><%= @view_permission.child_id %></dd>

  <dt>User</dt>
  <dd><%= @view_permission.user_id %></dd>

</dl>
