<div class="page-header">
  <h1>Viewer #<%= @viewer.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Child</dt>
  <dd><%= @viewer.child_id %></dd>

  <dt>User</dt>
  <dd><%= @viewer.user_id %></dd>

</dl>
