<div class="page-header">
  <h1>Photo Comment #<%= @photo_comment.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Content</dt>
  <dd><%= @photo_comment.content %></dd>

  <dt>Photo</dt>
  <dd><%= @photo_comment.photo_id %></dd>

  <dt>User</dt>
  <dd><%= @photo_comment.user_id %></dd>

</dl>
