<div class="page-header">
  <h1>Edit Permission #<%= @edit_permission.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Child</dt>
  <dd><%= @edit_permission.child_id %></dd>

  <dt>User</dt>
  <dd><%= @edit_permission.user_id %></dd>

</dl>
